.header{
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba($color-primary-ligth,0.75), rgba($color-primary-dark,0.75)), url(../img/hero.jpg);
  background-size: cover; 
  background-position: top; /* te permite cortar la imagen desde arriba, centro o abajo */

  position: relative;

  clip-path : polygon(0 0,100% 0,100% 75vh,0 100%);

  /* logo box a la izquierda arriba */
  &__logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo{
    height: 3.5rem;
  }

  /*  text box  - heading y boton - estaran centrados*/
  &__text-box{
    position: absolute;
    top : 40%;
    left : 50%;
    transform: translate(-40%, -50%);

    text-align: center; /* centrar el elemento inline (el boton) */
  }
}